[Unit]
Description=BotKey Telegram Bot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit --what=sleep --why="BotKey يعمل" /home/mohamed/.local/bin/botkey.sh
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
